<div>
  <!-- <form clrForm>
    <textarea clrTextarea name="result" [(ngModel)]="parseResult"></textarea>
    </form> -->
    <input type="file" (change)="fileChanged($event)" />
    <div class="clr-row">
      <div class="clr-col-md-2">
        <app-summary [summary]="summary"></app-summary>
      </div>

      <div class="clr-col-md-2">
        <app-reward [reward]="reward"></app-reward>
      </div>

      <div class="clr-col-md">
        <app-fleet [fleet]="fleet"></app-fleet>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col">
        <app-event [event]="event"></app-event>
      </div>
    </div>
    <pre *ngIf="false">{{ parseResult | json }}</pre>
</div>
