<div>
  <!-- <form clrForm>
    <textarea clrTextarea name="result" [(ngModel)]="parseResult"></textarea>
  </form> -->
  <input type="file" (change)="fileChanged($event)" />
  <clr-datagrid>
    <clr-dg-placeholder>We couldn't find any item!</clr-dg-placeholder>

    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Level</clr-dg-column>
    <clr-dg-column>Outcome</clr-dg-column>
    <clr-dg-column>ShipName</clr-dg-column>
    <clr-dg-column>ShipLevel</clr-dg-column>
    <clr-dg-column>ShipStrength</clr-dg-column>
    <clr-dg-column>ShipXP</clr-dg-column>
    <clr-dg-column>OfficerOne</clr-dg-column>
    <clr-dg-column>OfficerTwo</clr-dg-column>
    <clr-dg-column>OfficerThree</clr-dg-column>
    <clr-dg-column>HullHealth</clr-dg-column>
    <clr-dg-column>HullHealthRemaining</clr-dg-column>
    <clr-dg-column>ShieldHealth</clr-dg-column>
    <clr-dg-column>ShieldHealthRemaining</clr-dg-column>
    <clr-dg-column>Location</clr-dg-column>
    <clr-dg-column>Date</clr-dg-column>

    <clr-dg-row *clrDgItems="let item of summary.items">
      <clr-dg-cell>{{ item.PlayerName }}</clr-dg-cell>
      <clr-dg-cell>{{ item.PlayerLevel }}</clr-dg-cell>
      <clr-dg-cell>{{ item.Outcome }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ShipName }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ShipLevel }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ShipStrength }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ShipXP }}</clr-dg-cell>
      <clr-dg-cell>{{ item.OfficerOne }}</clr-dg-cell>
      <clr-dg-cell>{{ item.OfficerTwo }}</clr-dg-cell>
      <clr-dg-cell>{{ item.OfficerThree }}</clr-dg-cell>
      <clr-dg-cell>{{ item.HullHealth }}</clr-dg-cell>
      <clr-dg-cell>{{ item.HullHealthRemaining }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ShieldHealth }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ShieldHealthRemaining }}</clr-dg-cell>
      <clr-dg-cell>{{ item.Location }}</clr-dg-cell>
      <clr-dg-cell>{{ item.Timestamp }}</clr-dg-cell>
      <!-- <clr-dg-cell>{{ item.Timestamp | date }}</clr-dg-cell> -->
    </clr-dg-row>

    <clr-dg-footer>{{ summary.items.length }} lines</clr-dg-footer>
  </clr-datagrid>

  <clr-datagrid>
    <clr-dg-placeholder>We couldn't find any item!</clr-dg-placeholder>
    <clr-dg-column>Reward Name</clr-dg-column>
    <clr-dg-column>Count</clr-dg-column>

    <clr-dg-row *clrDgItems="let item of reward.items">
      <clr-dg-cell>{{ item.RewardName }}</clr-dg-cell>
      <clr-dg-cell>{{ item.Count }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{ reward.items.length }} lines</clr-dg-footer>
  </clr-datagrid>

  <clr-datagrid>
    <clr-dg-placeholder>We couldn't find any item!</clr-dg-placeholder>

    <clr-dg-column>FleetType</clr-dg-column>
    <clr-dg-column>Attack</clr-dg-column>
    <clr-dg-column>Defense</clr-dg-column>
    <clr-dg-column>Health</clr-dg-column>
    <clr-dg-column>ShipAbility</clr-dg-column>
    <clr-dg-column>CaptainManeuver</clr-dg-column>
    <clr-dg-column>OfficerOneAbility</clr-dg-column>
    <clr-dg-column>OfficerTwoAbility</clr-dg-column>
    <clr-dg-column>OfficerThreeAbility</clr-dg-column>
    <clr-dg-column>OfficerAttackBonus</clr-dg-column>
    <clr-dg-column>DamagePerRound</clr-dg-column>
    <clr-dg-column>ArmourPierce</clr-dg-column>
    <clr-dg-column>ShieldPierce</clr-dg-column>
    <clr-dg-column>Accuracy</clr-dg-column>
    <clr-dg-column>CriticalChance</clr-dg-column>
    <clr-dg-column>CriticalDamage</clr-dg-column>
    <clr-dg-column>OfficerDefenseBonus</clr-dg-column>
    <clr-dg-column>Armour</clr-dg-column>
    <clr-dg-column>ShieldDeflection</clr-dg-column>
    <clr-dg-column>Dodge</clr-dg-column>
    <clr-dg-column>OfficerHealthBonus</clr-dg-column>
    <clr-dg-column>ShieldHealth</clr-dg-column>
    <clr-dg-column>HullHealth</clr-dg-column>
    <clr-dg-column>ImpulseSpeed</clr-dg-column>
    <clr-dg-column>WarpRange</clr-dg-column>
    <clr-dg-column>WarpSpeed</clr-dg-column>
    <clr-dg-column>CargoCapacity</clr-dg-column>
    <clr-dg-column>ProtectedCargo</clr-dg-column>
    <clr-dg-column>MiningBonus</clr-dg-column>

    <clr-dg-row *clrDgItems="let item of fleet.items">
      <clr-dg-cell>{{ item.FleetType }}</clr-dg-cell>
      <clr-dg-cell>{{ item.Attack }}</clr-dg-cell>
      <clr-dg-cell>{{ item.Defense }}</clr-dg-cell>
      <clr-dg-cell>{{ item.Health }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ShipAbility }}</clr-dg-cell>
      <clr-dg-cell>{{ item.CaptainManeuver }}</clr-dg-cell>
      <clr-dg-cell>{{ item.OfficerOneAbility }}</clr-dg-cell>
      <clr-dg-cell>{{ item.OfficerTwoAbility }}</clr-dg-cell>
      <clr-dg-cell>{{ item.OfficerThreeAbility }}</clr-dg-cell>
      <clr-dg-cell>{{ item.OfficerAttackBonus | percent }}</clr-dg-cell>
      <clr-dg-cell>{{ item.DamagePerRound }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ArmourPierce }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ShieldPierce }}</clr-dg-cell>
      <clr-dg-cell>{{ item.Accuracy }}</clr-dg-cell>
      <clr-dg-cell>{{ item.CriticalChance | percent }}</clr-dg-cell>
      <clr-dg-cell>{{ item.CriticalDamage | percent }}</clr-dg-cell>
      <clr-dg-cell>{{ item.OfficerDefenseBonus | percent }}</clr-dg-cell>
      <clr-dg-cell>{{ item.Armour }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ShieldDeflection }}</clr-dg-cell>
      <clr-dg-cell>{{ item.Dodge }}</clr-dg-cell>
      <clr-dg-cell>{{ item.OfficerHealthBonus | percent }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ShieldHealth }}</clr-dg-cell>
      <clr-dg-cell>{{ item.HullHealth }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ImpulseSpeed }}</clr-dg-cell>
      <clr-dg-cell>{{ item.WarpRange }}</clr-dg-cell>
      <clr-dg-cell>{{ item.WarpSpeed }}</clr-dg-cell>
      <clr-dg-cell>{{ item.CargoCapacity }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ProtectedCargo }}</clr-dg-cell>
      <clr-dg-cell>{{ item.MiningBonus | percent }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{ fleet.items.length }} lines</clr-dg-footer>
  </clr-datagrid>

  <clr-datagrid class="datagrid-compact">
    <clr-dg-placeholder>We couldn't find any item!</clr-dg-placeholder>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        Round
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>Battle Event</clr-dg-column>
    <clr-dg-column [clrDgField]="'Type'">Type</clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        AttackerName
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: true }">
        AttackerAlliance
      </ng-container>
    </clr-dg-column>
    <clr-dg-column
      ><ng-container *clrDgHideableColumn="{ hidden: true }">
        AttackerShip
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        AttackerIsArmada
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        TargetName
      </ng-container>
    </clr-dg-column>
    <clr-dg-column
      ><ng-container *clrDgHideableColumn="{ hidden: true }">
        TargetAlliance
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: true }">
        TargetShip
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        TargetIsArmada
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        CriticalHit
      </ng-container>
    </clr-dg-column>
    <clr-dg-column
      ><ng-container *clrDgHideableColumn="{ hidden: false }">
        HullDamage
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        ShieldDamage
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        MitigatedDamage
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        TotalDamage
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        AbilityType
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        AbilityValue
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        AbilityName
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        AbilityOwnerName
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        TargetDefeated
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        TargetDestroyed
      </ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">
        ChargingWeapons
      </ng-container>
    </clr-dg-column>
    <clr-dg-row *clrDgItems="let item of event.items">
      <clr-dg-cell>{{ item.Round }}</clr-dg-cell>
      <clr-dg-cell>{{ item.BattleEvent }}</clr-dg-cell>
      <clr-dg-cell>{{ item.Type }}</clr-dg-cell>
      <clr-dg-cell>{{ item.AttackerName }}</clr-dg-cell>
      <clr-dg-cell>{{ item.AttackerAlliance }}</clr-dg-cell>
      <clr-dg-cell>{{ item.AttackerShip }}</clr-dg-cell>
      <clr-dg-cell>{{ item.AttackerIsArmada }}</clr-dg-cell>
      <clr-dg-cell>{{ item.TargetName }}</clr-dg-cell>
      <clr-dg-cell>{{ item.TargetAlliance }}</clr-dg-cell>
      <clr-dg-cell>{{ item.TargetShip }}</clr-dg-cell>
      <clr-dg-cell>{{ item.TargetIsArmada }}</clr-dg-cell>
      <clr-dg-cell>
        <cds-icon *ngIf="item.CriticalHit" shape="check-circle"></cds-icon>
        <ng-template *ngIf="!item.CriticalHit">--</ng-template>
      </clr-dg-cell>
      <!-- <clr-dg-cell>{{ item.CriticalHit }}</clr-dg-cell> -->
      <clr-dg-cell>{{ item.HullDamage }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ShieldDamage }}</clr-dg-cell>
      <clr-dg-cell>{{ item.MitigatedDamage }}</clr-dg-cell>
      <clr-dg-cell>{{ item.TotalDamage }}</clr-dg-cell>
      <clr-dg-cell>{{ item.AbilityType }}</clr-dg-cell>
      <clr-dg-cell>{{ item.AbilityValue }}</clr-dg-cell>
      <clr-dg-cell>{{ item.AbilityName }}</clr-dg-cell>
      <clr-dg-cell>{{ item.AbilityOwnerName }}</clr-dg-cell>
      <clr-dg-cell>{{ item.TargetDefeated }}</clr-dg-cell>
      <clr-dg-cell>{{ item.TargetDestroyed }}</clr-dg-cell>
      <clr-dg-cell>{{ item.ChargingWeapons }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{ event.items.length }} lines</clr-dg-footer>
  </clr-datagrid>

  <pre *ngIf="false">{{ parseResult | json }}</pre>
</div>
