<div class="main-container">
  <header class="header-2">
    <div class="branding">
      <a class="nav-link">
        <cds-icon shape="home" size="lg"></cds-icon>
        <span class="title">Clarity</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="active nav-link nav-text">Home</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="map-area">
        <app-map [detail]="mapDetail"></app-map>
        <app-zone-detail #mapDetail></app-zone-detail>
      </div>
      <div></div>
    </div>
  </div>
</div>
