@import '~@cds/core/styles/theme.dark.min.css';
@import 'leaflet/dist/leaflet.css';

.apex {
  fill: hsl(0, 100%, 50%);
}

.axx {
  fill: hsl(150, 100%, 50%);
}

.dee {
  fill: hsl(60, 100%, 50%);
}

.desp {
  fill: hsl(90, 100%, 50%);
}

.gert {
  fill: hsl(120, 100%, 50%);
}

.glf {
  fill: hsl(30, 50%, 50%);
}

.hg {
  fill: hsl(15, 100%, 50%);
}

.hota {
  fill: hsl(105, 100%, 50%);
}

.lexx {
  fill: hsl(240, 100%, 50%);
}

.ngen {
  fill: hsl(270, 100%, 50%);
}

.nova {
  fill: hsl(75, 100%, 50%);
}

.odas {
  fill: hsl(135, 100%, 50%);
}

.rbn {
  fill: hsl(180, 100%, 50%);
}

.soho {
  fill: hsl(45, 100%, 50%);
}

.vkbe {
  fill: hsl(300, 100%, 50%);
}

.vkcf {
  fill: hsl(330, 100%, 50%);
}

.vkre {
  fill: hsl(210, 100%, 50%);
}

.wolf {
  fill: hsl(165, 100%, 50%);
}

.xiii {
  fill: hsl(195, 100%, 50%);
}

.xrey {
  fill: hsl(225, 100%, 50%);
}

.neutral {
  fill: hsl(0, 0%, 50%);
}
